@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "2020base";

.headline-container {
  padding: 5.5em 0 2em 0;
  text-align: center;

  h1 {
    padding-bottom: 24px;
    position: relative;
    display: inline-block;
  }

  h1:before {
    background: url(/images/pricing/particles-faq-left.svg) no-repeat 100% 0;
    content: "";
    height: 48px;
    left: -28px;
    position: absolute;
    top: -24px;
    width: 56px;

    @media (max-width: $screen-sm-min) {
      top: -42px;
      left: -12px;
    }
  }

  h1:after {
    background: url(/images/pricing/particles-faq-right.svg) no-repeat 0 0;
    content: "";
    height: 40px;
    right: -26px;
    position: absolute;
    top: -20px;
    width: 52px;

    @media (max-width: $screen-sm-min) {
      top: -40px;
      right: -12px;
    }
  }

  h2 {
    padding-bottom: 16px;
    font-size: 32px;
  }

  .subscript {
    font-size: 14px;
    display: inline-block;
    vertical-align: super;
    line-height: 18px;
  }

  @media (max-width: $screen-sm-min) {
    h1 {
      font-size: 36px;
      padding-bottom: 8px;
    }

    h2 {
      font-size: 24px;
      line-height: 30px;
      padding-bottom: 8px;
    }

    h4 {
      font-size: 19px;
    }
  }

}


////////////////////////////////
///////////* FORMS *////////////
////////////////////////////////

#tabs {
  max-width: 540px;
  margin: 0 auto;
  overflow: hidden;
}

#tabs .tablinks {
  width: 50%;
  color: #333;
  font-size: 23px;
  text-align: center;
  float: left;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;

  @media (max-width: $screen-sm-min) {
    font-size: 15px;
  }  
}

#tabs .saas-tooltip-text {
  display: none;
  position: absolute;
  background: #333;
  color: #FFF;
  font-size: 12px;
  line-height: 16px;
  padding: 12px;
  width: 170px;
  border-radius: 4px;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;

  &:before {
    content: "";
    width: 10px;
    height: 10px;
    transform: rotate(225deg);
    top: -5px;
    left: calc(50% - 5px);
    position: absolute;
    background: #333;
  }
}

.sass-tooltip-trigger {
  border-bottom: 1px dashed #FA7035;
  position: relative;
}

#tabs .sass-tooltip-trigger:hover {
  .saas-tooltip-text {
    display: block;
  }
}

#tabs .tablinks.active {
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  height: 100%;
}

#tabs .active:after {
  content: " ";
  display: block;
  position: absolute;
  height: 5px;
  background: #FFF;
  width: 100%;
  left: 0;
  bottom: -3px;
}

.tabcontent {
  max-width: 540px;
  margin: 53px auto 0 auto;
  text-align: center;
  display: none;
  padding: 22px;
  border: 1px solid #333;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: -1;

  .trial-intro {
    padding-bottom: 24px;
    border-bottom: 1px solid #333;
  }

  .start-trial {
    width: 100%;
    margin-left: 0;
  }

  .trial-login-link {
    margin: 16px auto 0 auto;
  }

  @media (max-width: $screen-sm-min) {
    margin-top: 49px;
  }
}

#saas.active-content {
  border-top-right-radius: 4px;
}

#selfmanaged.active-content {
  border-top-left-radius: 4px;
}

.form-container {
  text-align: left;
}

.self-hosted-signup-form {

  .mktoFieldDescriptor .mktoFieldWrap input.mktoInvalid {
    border: 1px solid #F24F63;
  }

  .mktoFormRow {
    margin-bottom: 16px;
  }

  .mktoFieldWrap input:not([type="checkbox"]),
  .mktoFieldWrap select {
    width: 100%;
    border: 1px solid #333333;
    border-radius: 4px;
    padding: 12px 16px;
  }

  #mktoCheckbox_34251_0 {
    float: left;
    margin: 7px 4px 0 0;
  }

  #LblmktoCheckbox_34251_0 {
    width: calc(100% - 18px);
    text-align: left;
    margin-bottom: 16px;
  }

  .mktoFieldWrap label {
    float: left;
    margin-bottom: 4px;
  }

  .mktoAsterix {
    display: none;
  }

  .mktoFieldDescriptor #LblcommentCapture,
  .mktoFieldDescriptor #commentCapture {
    display: none;
  }

  .mktoButtonWrap button {
    width: 100%;
    background-color: #fa7035;
    color: #ffffff;
    box-shadow: 0px 4px 4px #00000040;
    display: inline-block;
    padding: 4px 30px;
    font-size: 16px;
    line-height: 40px;
    min-width: 140px;
    min-height: 52px;
    border: 0;
    border-radius: 4px;
    margin-bottom: 20px;
  }
}

////////////////////////////////
///////////* FAQ *////////////
////////////////////////////////

#faq {
  margin-bottom: 4em;
}

#faq h2 {
  display: inline-block;
  margin-bottom: 32px;
  position: relative;

  @media (max-width: $screen-sm-min) {
    font-size: 36px;
  }
}

#faq details {
  background: $color-white;
  border-color: $color-gray;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  color: $color-black333;
  list-style-type: none;
  overflow: hidden;
  width: 100%;

  a {
    color: #7D2BD9;
    text-decoration: none;
  }
}

#faq details:first-of-type {
  border-radius: $border-radius-large $border-radius-large 0px 0px;
  border-top-width: 1px;
}

#faq details:last-of-type {
  border-radius: 0px 0px $border-radius-large $border-radius-large;
}

#faq details[open] {
  background: $color-gray-super-light;
}

#faq summary {
  @include slp-font-size-2xl;
  background: $color-white;
  cursor: pointer;
  list-style-type: none;
  padding: 1.6rem 4rem 1.6rem 2.4rem;
  position: relative;
}

#faq summary::-webkit-details-marker {
  display: none;
}

#faq details .icon {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#faq details .icon svg {
  display: inline-block;
  vertical-align: middle;
}

#faq details .icon.collapse {
  display: none;
}

#faq details[open] .icon.collapse {
  display: inline-block;
}

#faq details[open] .icon.expand {
  display: none;
}

.faq-item {
  padding: .4rem 4rem 0rem 2.4rem;

  @media (max-width: $screen-sm-min) {
    padding: .4rem 2.4rem 0rem 2.4rem;
  }
}

.faq-item .question {
  @include slp-font-size-xl;
  margin-bottom: 8px;
  /* Fix a scrolling bug from a direct link to an ID like http://localhost:4567/pricing/faq/#why-do-i-need-to-enter-credit-debit-card-details-for-free-pipeline-minutes */
  margin-top: -70px;
  padding-top: 70px;
}

.faq-item:first-of-type {
  padding-top: 3rem;
}

.faq-item:last-of-type {
  padding-bottom: .8rem;
}


////////////////////////////////
///////////* CONTACT *////////////
////////////////////////////////

.mb-sm-5 {
  @media (max-width: $screen-sm-min) {
    margin-bottom: 25px;
  }
}

#get-started-block h3 {
  position: relative;
  margin-bottom: 8px;

  .btn.lavender {
    width: unset;
  
    @media (max-width: 958px) {
      width: 100%;
    }
  }
}

#get-started-block h3:before {
  background: url("/images/enterprise/gitlab-enterprise-team-member-photos.png") no-repeat 0 0;
  background-size: 212px;
  content: "";
  display: block;
  font-size: 0;
  height: 91px;
  line-height: 0;
  margin: 0px auto 20px auto;
  width: 213px;
}

#get-started-block h3:after {
  background: url("/images/pricing/particles-contact.svg") no-repeat 0 0;
  content: "";
  display: inline-block;
  height: 47px;
  left: calc(50% - 43px);
  position: absolute;
  top: -47px;
  width: 86px;
}
